:root{
    --background-color: #000000;
    --text-color:#f9f9f9;
    --accent-color:#3030fa;
    --accent-hover-color:#0a0db3;
    --accent-active-color:#040477;
    --border-color:#616161;
}
/*General style*/
body{
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.7;
    padding: 0 2rem;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--accent-color);
}
/*header*/
header{
    display:flex;
    border-bottom: 1px solid var(--border-color);
    padding: 0 0;
    align-items: center;
    justify-content:space-between;
    align-items:center
}
nav ul{
    display:flex;
    list-style: none;
    gap:20px;
}
nav ul li a{
    padding: 0.25rem 0.5rem;
    margin: 5rem 0.25rem;
}
#logo{
    width: 40px;
    height: 40px;
    margin: 0 1rem;
}

